*{

    text-decoration:none;
    list-style: none;
}

.header {
    height: 100vh;
}

.navbar-style {
    box-shadow: 0 5px 10px #efefef !important;
    text-transform: uppercase;
}

.logo {
    height: 60px;
    padding: 2px 10px;
}

.icon-bar {
    background: greenyellow;
}

li a {
    color: #333;
}

.btn-login{
   padding:5px;
   background-color: darkorange;
   border-radius:5px;
   text-align: center;
   font-weight: bold;

}

.btn-login:hover{
background-color: #095687;
border:1px solid darkorange;
}

.big-text {
    font-size: 40px;
    margin: 20px 0;
    color:#095687;
}

a.btn {
    margin: 30px 10px;
    width: 150px;
    padding: 10px;
    border-radius: 20px;
}

a.btn-first {
    background-color: darkorange;
    color: #fff;
}

a.btn-second {
    background: transparent;
    border: 1px solid darkorange;
    color: #333;
}

a.btn:hover {
    background-color:#095687;
    border: none;
    color: #fff;
    box-shadow: 5px 5px 10px #999;
    transition: 0.3s;
}

.banner-info,
.banner-image {
    margin: 30px 0;
}

.banner-image img {
    width: 100%;
}

.container-banner {
    margin: 100px;
    padding: 10px;
}

.wt {
    color: white !important;
}
