<app-header></app-header>
<app-student-side-nav></app-student-side-nav>

<div class="container-fluid">

    <div class="arcordion-div">

        <body>

            <div class="container-m">
                <table class="table top-table rounded border">
                    <thead>

                        <tr>
                            <th scope="col">Status</th>

                        </tr>

                    </thead>
                    <tbody>
                        <tr>
                            <td>Programme</td>
                            <td>.....</td>
                        </tr>

                        <tr>
                            <td>Status</td>
                            <td>....</td>
                        </tr>
                        <tr>
                            <td>Completed Status</td>
                            <td>....</td>
                        </tr>

                    </tbody>
                </table>

                <div class="image-container mb-5 ">
                    <div class="main-image ">
                        <img src="https://toolxox.com/123_beatsnoop/final-dl.beatsnoop.com-ge45hudMHT.jpg" alt="profile-image">
                    </div>
                </div>

                <table class="table down-table rounded border">
                    <thead>

                        <tr>
                            <th scope="col">Programme Information</th>

                        </tr>

                    </thead>
                    <tbody>
                        <tr>
                            <td>First Name</td>
                            <td>.....</td>
                        </tr>

                        <tr>
                            <td>Last Name</td>
                            <td>....</td>
                        </tr>
                        <tr>
                            <td>Date Of Birth</td>
                            <td>....</td>
                        </tr>

                        <tr>
                            <td>Programme</td>
                            <td>....</td>
                        </tr>

                        <tr>
                            <td>Level</td>
                            <td>....</td>
                        </tr>


                        <tr>
                            <td>Index Number</td>
                            <td>....</td>
                        </tr>

                        <tr>
                            <td>Department</td>
                            <td>....</td>
                        </tr>


                        <tr>
                            <td>Institutional Email</td>
                            <td>....</td>
                        </tr>

                        <tr>
                            <td>Class</td>
                            <td>....</td>
                        </tr>

                    </tbody>
                </table>

            </div>



        </body>
    </div>
</div>