<app-header></app-header>
<app-student-side-nav></app-student-side-nav>

<div class="container-fluid">

    <div class="arcordion-div">


        <body>

            <div class="container-main">

                <div class="container-top">
                    <h3> Account Balance </h3>
                    <h2>GHC 0.00</h2>
                    <h4>NB: A balance in bracket indicates a credit in favor of the student</h4>
                </div>

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">DESCR</th>
                            <th scope="col">RECPT #</th>
                            <th scope="col">CUR</th>
                            <th scope="col">DR</th>
                            <th scope="col">CR</th>
                            <th scope="col">BAL</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">16-10-2022</th>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                        </tr>

                    </tbody>
                </table>

            </div>


        </body>
    </div>
</div>